# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
**/logs/
**/*.log

# Node / Angular
node_modules/
dist/
.angular/
coverage/

# Spring Boot static resources (frontend build output)
doctorat-gouv-backend/src/main/resources/static/
/static/


# Eclipse / STS
.classpath
.project
.settings/
bin/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.key
*.pem
*.crt
