/* Styles globaux de ton application */
body {
  font-family: "Marianne", Arial, sans-serif;
  margin: 0;
  background-color: var(--background-default-grey);
  color: var(--text-default-grey);
}

main {
  padding: 2rem;
  max-width: 960px;
  margin: auto;
}

.custom-blue {
  color: rgb(0, 0, 174) !important;
  font-size: 1.5rem;
}

.custom-bold-blue {
  color: rgb(0, 0, 174) !important;
  font-weight: bold;
  font-size: 1.5rem;
}

.custom-bold {
  font-weight: bold;
  font-size: 1.5rem;
}
