
<app-header></app-header>

<div class="page-background" *ngIf="!showConfirmation">

	<div class="container-header">

		<!-- Titre centré comme sur la maquette -->
		<h2 class="form-title fr-mb-4v">Formulaire de mise en relation</h2>

		<!-- Alerte DSFR d'information -->
		<div class="fr-alert fr-alert--info fr-alert--sm info-alert">
		
			<p class="fr-alert__title">
				<strong>Pour être mis en relation, merci de remplir le formulaire ci-dessous et de fournir les documents
					demandés :</strong>
			</p>
		
			<ul class="fr-pl-3w fr-mb-3w">
				<li class="fr-mt-2w">
					Si vous souhaitez vous-même faire un doctorat : un CV, un document attestant de votre intérêt et aptitude à
					la recherche, un court message décrivant vos motivations
				</li>
		
				<li class="fr-mt-2w">
					Si vous souhaitez établir un partenariat : un descriptif de votre organisation, un descriptif du partenariat
					envisagé, un court message expliquant votre besoin
				</li>
		
			</ul>
		
			<p class="fr-mt-2w">
				Les informations saisies seront envoyées à la directrice ou au directeur de thèse concerné,
				qui reviendra vers vous s’il souhaite donner suite à votre candidature.
			</p>
		
		</div>

	</div>

	<div class="container">

		<div class="card shadow">
			<div class="card-body">

				<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" >
					
					<div class="contact-grid">

					<!-- Nom -->
					<div class="form-field large">
					  <label class="fr-label">Nom <span class="fr-text--xs fr-text--error">*</span></label>
					  <input class="fr-input" formControlName="nom" type="text">

					  <p class="fr-error-text" *ngIf="contactForm.get('nom')?.touched && contactForm.get('nom')?.invalid">
					    Le nom doit contenir entre 2 et 30 caractères.
					  </p>
					</div>


					<!-- Prénom -->
					<div class="form-field large">
					  <label class="fr-label">Prénom <span class="fr-text--xs fr-text--error">*</span></label>
					  <input class="fr-input" formControlName="prenom" type="text">

					  <p class="fr-error-text" *ngIf="contactForm.get('prenom')?.touched && contactForm.get('prenom')?.invalid">
					    Le prénom doit contenir entre 2 et 30 caractères.
					  </p>
					</div>


					<!-- Civilité -->
					<div class="form-field large">
						<label class="fr-label">Civilité</label>
						<select class="fr-select" formControlName="civilite">
							<option value="" disabled selected>Choisir…</option>
							<option *ngFor="let c of civilites" [value]="c">{{ c }}</option>
						</select>
					</div>

					<!-- Email -->
					<div class="form-field large">
					  <label class="fr-label">Adresse électronique <span class="fr-text--xs fr-text--error">*</span></label>
					  <input class="fr-input" formControlName="email" type="email">

					  <p class="fr-error-text" *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.invalid">
					    Veuillez saisir une adresse email valide.
					  </p>
					</div>


					<!-- Vous êtes -->
					<div class="form-field small">
						<label class="fr-label">Vous êtes</label>
						<select class="fr-select" formControlName="profil">
							<option value="" disabled selected>Choisir…</option>
							<option *ngFor="let p of profils" [value]="p">{{ p }}</option>
						</select>
					</div>

					<!-- Depuis combien d'années -->
					<div class="form-field small" *ngIf="showExperienceFields">
					  <label class="fr-label">Depuis combien d'années</label>
					  <select class="fr-select" formControlName="annees">
					    <option value="" disabled selected>Choisir…</option>
					    <option *ngFor="let a of annees" [value]="a">{{ a }} an(s)</option>
					  </select>
					</div>

					<!-- Secteur -->
					<div class="form-field small" *ngIf="showExperienceFields">
					  <label class="fr-label">Dans quel secteur</label>
					  <select class="fr-select" formControlName="secteur">
					    <option value="" disabled selected>Choisir…</option>
					    <option *ngFor="let s of secteurs" [value]="s">{{ s }}</option>
					  </select>
					</div>

					
					<!-- Confirmation diplôme -->
					<div class="form-field large confirm-master-field" *ngIf="showMasterConfirmation">
						<div class="fr-checkbox-group">
							<input type="checkbox" id="confirmMaster" formControlName="confirmMaster" required>
							<label class="fr-label" for="confirmMaster">
								Je confirme que je dispose ou que je prépare un diplôme de master
								ou conférant le grade de master
							</label>
						</div>
					
						<p class="fr-error-text"
							*ngIf="contactForm.get('confirmMaster')?.touched && contactForm.get('confirmMaster')?.invalid">
							Vous devez confirmer disposer ou préparer un diplôme de master.
						</p>
					</div>


					<!-- Upload CV -->
					<div class="form-field large">
						<label class="fr-label" for="cvUpload">{{ !isOrganisationProfile ? "Ajouter un CV" : "Ajouter un descriptif de votre organisation" }}
							<span class="fr-text--xs fr-text--error">*</span>
						</label>
						<p class="fr-hint-text">
							Taille maximale : 1 Mo. Format supporté : pdf.
						</p>
					
						<input class="fr-upload" type="file" id="cvUpload" (change)="onCvSelected($event)" formControlName="cv" multiple>
					
						<p class="fr-error-text" *ngIf="contactForm.get('cv')?.errors?.['invalidFormat']">
							Le fichier doit être au format PDF.
						</p>
					
						<p class="fr-error-text" *ngIf="contactForm.get('cv')?.errors?.['fileTooLarge']">
							Le fichier dépasse la taille maximale de 1 Mo.
						</p>
					
						<p class="fr-error-text" *ngIf="contactForm.get('cv')?.touched && contactForm.get('cv')?.errors?.['required']">
							Le CV est obligatoire.
						</p>
					
					</div>

					<!-- Upload un autre document -->
					<div class="form-field large">
						<label class="fr-label" for="docsUpload">
							{{
							isOrganisationProfile
							? "Ajouter un un descriptif du partenariat envisagé"
							: "Ajouter un autre document (ex : piste ou proposition de sujet, mémoire, production scientifique, lettre de
							recommandation...)"
							}}
							<span class="fr-text--xs fr-text--error">*</span>
						</label>
					
					
						<p class="fr-hint-text">
							Taille maximale : 5 Mo. Formats supportés : pdf.
						</p>
					
						<input class="fr-upload" type="file" id="docsUpload" formControlName="document" (change)="onDocsSelected($event)"
							multiple>
					
						<p class="fr-error-text" *ngIf="contactForm.get('document')?.errors?.['invalidFormat']">
							Le fichier doit être au format PDF.
						</p>
					
						<p class="fr-error-text" *ngIf="contactForm.get('document')?.errors?.['fileTooLarge']">
							Le fichier dépasse la taille maximale de 5 Mo.
						</p>
					
						<p class="fr-error-text"
							*ngIf="contactForm.get('document')?.touched && contactForm.get('document')?.errors?.['required']">
							Le document est obligatoire.
						</p>
					
					</div>


					<!-- Texte de motivation -->
					<div class="form-field large">
						<label class="fr-label">
						  {{ isOrganisationProfile ? 'Présentation du besoin' : 'Texte de motivation' }}
						</label>

					  <textarea 
					    class="fr-input" 
					    formControlName="message" 
					    rows="5"
					    [placeholder]="isOrganisationProfile ? '' : 'Intérêt scientifique, compétences pertinentes, disponibilité, projet professionnel ...'"
					  ></textarea>

					 <!-- Consentement RGPD -->
					<div class="form-field large rgpd-field">
						<div class="fr-checkbox-group">
							<input type="checkbox" id="rgpdConsent" formControlName="rgpdConsent" required>
							<label class="fr-label" for="rgpdConsent">
								J'accepte de recevoir vos e-mails et confirme avoir pris connaissance de vos
								<a href="https://doctorat.gouv.fr/a-propos/mentions-legales/" target="_blank">mentions légales</a>.
							</label>
						</div>
					
						<p class="fr-error-text" *ngIf="contactForm.get('rgpdConsent')?.touched && contactForm.get('rgpdConsent')?.invalid">
							Vous devez accepter pour continuer.
						</p>
					 </div>


					</div>
					
					</div>

					<!-- Boutons alignés à droite -->
					<div class="buttons-row">
						<!--						<button class="fr-btn fr-btn--secondary fr-btn--lg" type="button">-->
						<!--							Annuler-->
						<!--						</button>-->
					
						<button class="fr-btn fr-btn--primary fr-btn--lg" type="submit">
							Envoyer
						</button>
					</div>

				</form>

			</div>
		</div>

	</div>
</div>

<div *ngIf="showConfirmation" class="confirmation-wrapper">

  <h2 class="fr-h3 fr-mb-3w">Confirmation d'envoi</h2>

<!--  <p class="fr-text--lg">-->
<!--    Votre demande à la thèse -->
<!--    <strong>{{ contactForm.value.titreSujet || 'au sujet sélectionné' }}</strong> -->
<!--    a bien été prise en compte.-->
<!--  </p>-->

  <div class="fr-alert fr-alert--success fr-mt-4w">
    <h3 class="fr-alert__title">Votre demande a bien été prise en compte</h3>
    <p>
      Vous recevrez un courriel de confirmation dans quelques instants.
    </p>
  </div>

  <p class="fr-mt-4w fr-text--sm">
    <strong>Détail —</strong> Si vous n’avez pas reçu de courriel 
    (n’hésitez pas à vérifier dans les indésirables), vous pouvez saisir à nouveau votre adresse électronique.
  </p>

</div>

