.footer-gouv {
  background: #ffffff;
  padding: 2rem 4rem; // Ajoute un padding horizontal
  font-family: Arial, sans-serif;
  color: #000;
  border-top: 3px solid #000091;

  display: flex;
  flex-direction: column;

  /* --- TOP --- */
  .footer-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem; // Espace entre logo et liens
    flex-wrap: wrap;
  }

  .brand-block .logo {
    width: 260px;
    height: auto;
  }

  .gov-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    a {
      color: #000;
      font-size: 1rem;
	  //text-decoration: none !important; // Supprime le soulignement DSFR
	  background-image: none !important;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 1.5rem 0;
  }

  /* --- BOTTOM --- */
  .footer-bottom {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .internal-links {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    a {
      color: #000;
      font-size: 0.8rem;
      text-decoration: none !important;
      background-image: none !important; // Supprime le soulignement DSFR

      &:hover {
        text-decoration: underline !important;
      }
    }

    a:not(:last-child)::after {
      content: "";
      display: inline-block;
      width: 1px;
      height: 14px;
      background-color: #666;
      margin-left: 0.5rem;
    }
  }

  .license {
    font-size: 0.85rem;
    opacity: 0.8;
  }
}
