<app-header></app-header>

<div class="page-background" *ngIf="thesis">
	
  <div class="container">
	
	<div *ngIf="errorMessage" class="fr-alert fr-alert--warning fr-mt-3w info-alert">
	  <p>{{ errorMessage }}</p>
	</div>

    <!-- Première card -->
    <div class="card shadow mb-4">
      <div class="card-body">
		
		<div class="fr-alert fr-alert--warning fr-alert--sm fr-mt-2w bottom-space" *ngIf="thesis?.sujetAttribue === 'oui'">
		  {{ 'DETAIL.INFO_SUJET_ATTRIBUE' | translate }}
		</div>
		
		<div class="fr-mb-4v badges-container">
		  <span class="badge-green" *ngIf="getFirstDomaine(thesis)">
		    {{ getFirstDomaineWithMaxLength(thesis, 60) }}
		  </span>

		  <span class="badge-pink" *ngIf="thesis?.specialite">
		    {{ thesis.specialite }}
		  </span>
		</div>

		
        <h2 class="card-title fr-mb-10v">
          {{ getThesisTitle(thesis) }}
        </h2>
		
		<p><img src="/assets/icons/type_proposition.png" class="icon-img" alt="">
			<strong>{{ 'DETAIL.TYPE_OFFRE' | translate }} :</strong>
			{{ thesis.typeProposition === 'proposition'
			    ? ('DETAIL.SUJET' | translate)
			    : thesis.typeProposition === 'offre'
			      ? ('DETAIL.OFFRE' | translate)
			      : thesis.typeProposition }}
		</p>

		<p><img src="/assets/icons/building.png" class="icon-img" alt="">
			<strong>{{ 'DETAIL.ETABLISSEMENT' | translate }} :</strong> {{ thesis?.etablissementLibelle | defaultValue }}
		</p>

		<p>
		  <img src="/assets/icons/graduation-cap.png" class="icon-img" alt="">
		  <strong>{{ 'DETAIL.ED' | translate }} :</strong> {{ thesis?.ecoleDoctoraleLibelle | defaultValue }}
		</p>

		<p>
		  <img src="/assets/icons/graduation-lab.png" class="icon-img" alt="">
		  <strong>{{ 'DETAIL.LABO' | translate }} :</strong> {{ thesis?.uniteRechercheLibelle | defaultValue }}
		</p>

		<p>
		  <img src="/assets/icons/direction.png" class="icon-img" alt="">
		  <strong>{{ 'DETAIL.DIRECTION' | translate }} :</strong>
		  {{ thesis?.directionThesePrenom }} {{ thesis?.directionTheseNom }}

		  <ng-container *ngIf="thesis?.deposantOrcid">
		    <a 
		      [href]="'https://orcid.org/' + thesis.deposantOrcid"
		      target="_blank"
		      rel="noopener"
		      class="orcid-link"
		    >
		      <img 
		        src="assets/orcid.logo.icon.svg"
		        alt="ORCID"
		        class="orcid-icon"
		      >
		    </a>
		  </ng-container>
		</p>

<!--		<p>-->
<!--		  <img src="/assets/icons/x.png" class="icon-img" alt="">-->
<!--		  <strong>Financement :</strong> {{ thesis?.financementEtat || 'Non précisé' }}-->
<!--		</p>-->

		<p>
		  <img src="/assets/icons/date_debut.png" class="icon-img" alt="">
		  <strong>{{ 'DETAIL.DEBUT' | translate }} :</strong>
		  {{ thesis?.dateDebutThese | dynamicDate:'d MMMM y' }}
		</p>

		<p class="fr-mb-9v">
		  <img src="/assets/icons/date_fin.png" class="icon-img" alt="">
		  <strong>{{ 'DETAIL.DATE_LIMITE' | translate }} :</strong>
		  {{ thesis?.dateLimiteCandidature
		      ? (thesis.dateLimiteCandidature | dynamicDate:("d MMMM y '" + ('DETAIL.AT' | translate) + "' HH:mm"))
		      : ('DETAIL.NON_RENSEIGNE' | translate) }}
		</p>


		<div class="keywords-title">
		  {{ 'DETAIL.KEYWORDS' | translate }}
		  <span class="line"></span>
		</div>

		<div class="mt-3 fr-mb-9v">
		  <span *ngFor="let mot of getMotsCles(thesis) | keyvalue" class="badge">
		    {{ mot.value }}
		  </span>
		</div>
		
       <div class="fr-mt-4v fr-grid-row fr-grid-row--center"> 
	       <button class="fr-btn fr-btn--lg fr-btn--primary fr-col-12 fr-col-md-6 custom-btn" (click)="goToContact()"> {{ 'DETAIL.CONTACT' | translate }} </button> 
	   </div>

      </div>
    </div>

    <!-- Deuxième card -->
    <div class="card shadow">
      <div class="card-body">
		
		<div 
		  class="fr-alert fr-alert--info fr-alert--sm fr-mt-2w"
		  *ngIf="translate.currentLang !== 'fr'">
		  {{ 'DETAIL.INFO_TRADUCTION_MANQUANTE' | translate }}
		</div>
		
<!--		<div class="fr-alert fr-alert--warning fr-alert--sm fr-mt-2w" *ngIf="thesis?.sujetAttribue === 'oui'" >-->
<!--		  {{ 'DETAIL.INFO_SUJET_ATTRIBUE' | translate }}-->
<!--		</div>-->
		
		
        <h2 class="section-title">{{ 'DETAIL.RESUME' | translate }}</h2>
		<p class="paragraph fr-mb-12v">{{ getThesisResume(thesis) | defaultValue }}</p>


        <h3 class="section-title">{{ 'DETAIL.OBJECTIF_CONTEXTE' | translate }}</h3>
        <p class="paragraph">{{ thesis?.objectif }}</p>
        <p class="paragraph">{{ thesis?.contexte }}</p>
		
		<hr class="separator">
		
		<ng-container *ngIf="getProfilRecherche(thesis) as profil">
		  <h3 class="section-title">{{ 'DETAIL.PROFIL' | translate }}</h3>
		  <p class="paragraph">{{ profil }}</p>
		</ng-container>
		
		<hr class="separator">
		
		<ng-container *ngIf="thesis?.modalitesEncadrement as encadrement">
		  <h3 class="section-title">{{ 'DETAIL.ENCADREMENT' | translate }}</h3>
		  <p class="paragraph fr-mb-12v">{{ encadrement }}</p>
		</ng-container>

		<ng-container *ngIf="thesis?.resultatsAttendus as resultats">
		  <h3 class="section-title">{{ 'DETAIL.RESULTATS' | translate }}</h3>
		  <p class="paragraph fr-mb-12v">{{ resultats }}</p>
		</ng-container>
		
		<ng-container *ngIf="thesis?.valorisationTravaux as valorisation">
		  <h3 class="section-title">{{ 'DETAIL.VALORISATION' | translate }}</h3>
		  <p class="paragraph fr-mb-12v">{{ valorisation }}</p>
		</ng-container>
		
		<h3 class="section-title">{{ 'DETAIL.FINANCEMENT' | translate }}</h3>
		<p class="paragraph fr-mb-12v" *ngIf="thesis?.financementDetails; else noFinancement">
		  {{ thesis.financementDetails }}
		</p>

		<ng-template #noFinancement>
		  <p class="paragraph fr-mb-12v" [innerHTML]="'DETAIL.NO_FINANCEMENT' | translate"></p>
		</ng-template>

		<ng-container *ngIf="thesis?.valorisationTravaux as valorisation">
		  <h3 class="section-title">{{ 'DETAIL.VALORISATION' | translate }}</h3>
		  <p class="paragraph fr-mb-12v">{{ valorisation }}</p>
		</ng-container>


		<ng-container *ngIf="thesis?.referencesBibliographiques as references">
		  <h3 class="section-title">{{ 'DETAIL.REFERENCES' | translate }}</h3>
		  <p class="paragraph fr-mb-12v">{{ references }}</p>
		</ng-container>

		
		<div *ngIf="thesis?.urlPdf">
			<h3 class="section-title">{{ 'DETAIL.PIECES_JOINTES' | translate }}</h3>
		
			<a class="fr-link fr-icon-download-line fr-link--icon-left" [href]="thesis.urlPdf" download target="_blank"
				rel="noopener noreferrer">
				{{ 'DETAIL.DOWNLOAD_PDF' | translate }}
			</a>
		</div>
		
		<div class="fr-mt-4v fr-grid-row fr-grid-row--center"> 
		    <button class="fr-btn fr-btn--lg fr-btn--primary fr-col-12 fr-col-md-6 custom-btn" (click)="goToContact()"> {{ 'DETAIL.CONTACT' | translate }} </button> 
		</div>
				
      </div>
    </div>

  </div>
</div>
